# Compiled java files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
!**/src/main/**/maven-wrapper.jar
!**/src/main/**/maven-wrapper.properties

# IDEs
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
nbactions.xml
nb-configuration.xml
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# OS files
.DS_Store
Thumbs.db
